.css2 {
    background-color: lightpink;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.css2 .css3 {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 500;
}